<p class="notice"><%= flash[:notice] %></p>
<div class="container">
  <div class="row">
    <h1 class="px-3 mx-auto">
      Welcom to <i class="fas fa-book"></i><starong>Bookers</starong>!
    </h1>
  </div>
</div>